openapi: 3.0.0
info:
  description: "This is the GamePoint API."
  version: 1.0.0
  title: GamePoint API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
tags:
  - name: accesstokens
    description: Get your accesstoken
  - name: users
    description: Users
paths:
  /accesstokens:
    get:
      tags:
        - accesstokens
      summary: Get your accesstoken
      description: Get your accesstoken
      operationId: getAccesstoken
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                required:
                  - name
                  - expireIn
                properties:
                  accessToken:
                    type: string
                    example: ce0cabbd99530a9ae2c60a1300ef6bed
                  expireIn:
                    type: integer
                    example: 7200
      parameters:
        - name: environment
          in: query
          description: Environment (frontend or corporate)
          required: true
          explode: true
          schema:
            type: array
            items:
              type: string
              enum:
                - frontend
                - corporate
              default: frontend
        - name: userId
          in: query
          description: Your userId
          required: true
          schema:
            type: string
        - name: password
          in: query
          description: Your encrypted password
          required: true
          schema:
            type: string

  "/users/{userID}":
    get:
      tags:
        - users
      summary: Users
      description: Users
      operationId: getUserByID
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  users:
                    type: array
                    items:
                      $ref: "#/components/schemas/User"

      parameters:
        - name: userID
          in: path
          required: true
          schema:
            type: string
            default: 12345
        - name: accessToken
          in: query
          description: Frontend accesstoken
          required: true
          schema:
            type: string
servers:
  - url: https://api-ams01-eu.gamepoint.com
    description: Live
  - url: https://rcapi.gamepoint.com
    description: RC
  - url: https://darendsen-framework-api-ams01-eu-devplatform.dev.gamepoint.net
    description: Dev David
  - url: https://svaart-framework-api-ams01-eu-devplatform.dev.gamepoint.net
    description: Dev Steffen
components:
  schemas:
    User:
      type: object
      properties:
        userID:
          type: integer
          example: 12345
        userId:
          type: integer
          example: 12345
        name:
          type: string
        birthDate:
          type: string
        gender:
          type: string
        email:
          type: string
        firstName:
          type: string
          oneOf:
            - type: string
            - type: boolean
        lastName:
          type: string
          oneOf:
            - type: string
            - type: boolean
        street:
          type: string
          oneOf:
            - type: string
            - type: boolean
        city:
          type: string
          oneOf:
            - type: string
            - type: boolean
        phoneNumber:
          type: string
          oneOf:
            - type: string
            - type: boolean
        postalCode:
          type: string
          oneOf:
            - type: string
            - type: boolean
        number:
          type: string
          oneOf:
            - type: string
            - type: boolean
        numberAddition:
          type: string
          oneOf:
            - type: string
            - type: boolean
        province:
          type: string
          oneOf:
            - type: string
            - type: boolean
        shirtSize:
          type: string
          oneOf:
            - type: string
            - type: boolean
        lastLanguage:
          type: string
          default: "nl"
          oneOf:
            - type: string
            - type: boolean
        subscribedForNewsletter:
          type: boolean
        country:
          type: string
          oneOf:
            - type: string
            - type: boolean
        countryCode:
          type: string
          oneOf:
            - type: string
            - type: boolean
        geoCountryCode:
          type: string
          default: "NL"
          oneOf:
            - type: string
            - type: boolean
        avatar:
          type: object
          properties:
            100x100:
              type: string
            300x300:
              type: string
            600x600:
              type: string
            squareraw:
              type: string
            raw:
              type: string
        isBanned:
          type: boolean
        isSilenced:
          type: boolean
        isEmployee:
          type: boolean
        ircLanguage:
          type: string
        defaultPhonePrefix:
          type: string
          oneOf:
            - type: string
            - type: boolean
        forceChangePassword:
          type: boolean
        completeYourProfile:
          type: object
          properties:
            isProfileCompleted:
              type: boolean
            forceCompleteProfile:
              type: boolean
            shouldDisplayCompleteProfileDialog:
              type: boolean
            completeProfileCooldownInSeconds:
              type: integer
              default: 300
            isEmailVerified:
              type: boolean
            shouldDisplayEmailVerificationDialog:
              type: boolean
            forceEmailVerification:
              type: boolean
            emailVerificationCooldownInSeconds:
              type: integer
              default: 604800
        membership:
          type: object
          properties:
            id:
              type: integer
              example: 12345
            status:
              type: string
              example: svip
            type:
              type: string
            expirationDateTimestamp:
              type: integer
              example: 1637242028
            expirationDateFormatted:
              type: string
              example: Nov 18 2021
